version: '3.7'

volumes:
    logs:
        driver: local

services:
    slim:
        build:
            dockerfile: .docker/Dockerfile
        working_dir: /var/www
        command: sh .docker/entrypoint.sh
        environment:
            docker: "true"
        ports:
            - "8080:8080"
        volumes:
            - .:/var/www
            - logs:/var/www/logs
